@import "_globals";

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: $clr-neutral-500;
}

[class$="-profile"] {
  padding: 0em 0.25em 0em;
}

.container {
  width: min(100% - 16px, 48rem);
  margin-inline: auto;
}

a {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  color: $clr-neutral-600;
  transition: background-color 0.15s ease, color 0.15s ease, transform 0.15s ease;
  &:active {
    transform: scale(0.95);
  }
}

.active {
  background-color: $clr-neutral-100;
}

.group-link {
  color: $clr-primary-blue;
}

// This is the top panel of the page
.notifications-panel {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    transition: background-color 0.5s ease;
  }
  &-content {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: $clr-neutral-600;
  }

  &-count {
    background-color: $clr-primary-blue;
    color: $clr-neutral-100;
    border-radius: 5px;
    padding: 3px 10px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.15s ease, color 0.15s ease, transform 0.15s ease;

    &:active {
      transform: scale(0.95);
    }
  }

  &-mark-read {
    cursor: pointer;

    background-color: white;
    border: none;
    &:hover {
      color: $clr-primary-blue;
    }
  }
}

// Notification items general styling
.notification-panel {
  background-color: #fff;
  border-radius: 4px;

  .notification {
    &-comment {
      font-size: 0.9rem;
      border: 1px solid $clr-neutral-300;
      padding: 1.25em;
      border-radius: 5px;
      margin-bottom: 1em;
      background-color: white;
    }
  }

  .notification-header {
    padding: 8px 12px;
    background-color: #f5f6f7;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
  }

  .notification-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .notification-item {
    display: flex;
    padding: 12px;
    margin-bottom: 1em;
    border-radius: 10px;
    transition: background-color 0.25s ease;
    &:hover {
      background-color: $clr-neutral-200;
    }
    &[data-name="Rizky Hasanuddin"] {
      .notification-description {
        margin-bottom: 1em;
      }
    }
    .unread-indicator {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: red;
      border-radius: 50%;
      margin-left: 4px;
      margin-bottom: 2px;
    }

    .profile-photo {
      flex: 0 0 40px;
      margin-right: 8px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-size: cover;
      background-position: center;
    }

    .notification-content {
      flex: 1;
    }

    .notification-title {
      margin: 0 0 4px;
    }

    .notification-description {
      margin: 0;
      color: $clr-neutral-400;
    }
  }
}
